.App {
  text-align: center;
}

.pic-column {
  margin-bottom: 20px;
}

.pic-card-wrapper {
  transform: translate3d(0,0,0);
  transition: transform 30ms ease-out;
}

.pic-card-wrapper:hover {
  transform: translate3d(0,-2px,0);
}

h5.card-title {
  color: #000;
}

.pic-card-wrapper a {
  text-decoration: none !important;
}

.card-body.image.bg {
  background-size: cover;
  height: 150px;
}

/* Bootstrap overrides */

.card-body {
  padding: 0 !important;
}

/* Google Maps overrides */

.homepage-map .gm-style-iw.gm-style-iw-c {
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.05);
}